
<header class="sub_header sub_header_images">
	<div class="container">
		<div class="sub_header_title">About Us</div><br>
		<div class="sub_header_detail">Learn more about Nutritious &amp; Delicious and our goals for you.</div>
	</div>
</header>

<div class="sub_header_flower"> <img src="../images/header-flower.png" alt=""> </div>

<div class="sub_breadcrumb">
	<div class="white_dashed"></div>
	<div class="container">
		<div class="sub_top_menu">
			<ul>
				<li><%= link_to 'HOME' , root_path, :class => '' %></li>
        <li><%= link_to 'ABOUT' , about_path %></li>
			</ul>
		</div>
	</div>
</div>

<div class="green_sub_border col-sm-12"></div>

<div class="subhead_our_mission col-sm-12 ">
	<div class="container">
		<div class="subhead_our_mission_title animated rubberBand">Our Mission</div>
		<div class="subhead_our_mission_subtitle animated rubberBand">This is what we stand for at Nutritious & Delicious
</div>
		
		<div class="subhead_our_mission_detail animated slideInRight">
			<p style="font-family:'Tahoma';">Our goal at Nutritious & Delicious is to reduce the time and take out the stress out of organizing healthy eating for the long term. Our clients are people who want long term physical and mental health.
</p>

<p style="font-family:'Tahoma';">As a Certified Holistic Nutritionist™, I work one on one with you to tailor a healthy nutritious lifestyle plan for you and/or your family. All of us have unique likes and dislikes, and I guide you by recommending nutritious ingredients to help you make your favourite meals even healthier.</p>

<p style="font-family:'Tahoma';">How are we different? At Nutritious and Delicious, we don’t have a ready made meal plan for our customers. First, we spend the time getting to know you and/or your family’s needs. If we don’t do that, our meal plans aren’t going to work for you. We want you to love the food you prepare and eat, and have our plans work with your lifestyle, so you’re set up for success.</p>

<p style="font-family:'Tahoma';">We want to help you live longer and healthier, to be happy with your body and to take charge of the choices you make with the foods you eat. Whether you are eating a meal at home, in a restaurant, during a holiday season or while traveling, we give you the information you need to make the right choices.</p> </div>
	</div>
</div>

<div class="meet-our-holistic col-sm-12">
<div class="gray_dashed"></div>
	<div class="container">
	
		<div class="meet-our-holistic-padding">	
			<div class="meet_our_holistic_border">Meet Our Certified Holistic Nutritionist™</div><br>
			<div>Get to know the founder of Nutritious & Delicious.</div>
		</div>
		<div class="col-sm-12 meet-our-info paddingNone">
			<div class="col-sm-3 meet-our-info-images">asd</div>
			<div class="col-sm-8 meet-our-info-detail">
				<div class="row">
				<div class="col-md-6">
					<div class="col-md-12 meet-our-holistic-title">Bethany Gettis C.H.N.</div>
					<div class="col-md-12 meet-our-holistic-subtitle">Certified Holistic Nutritionist™</div>
				</div>
				<div class="col-md-6 meet-our-white-social-icons">
					<span><i class="fa fa-facebook"></i></span>
					<span><i class="fa fa-twitter"></i></span>
					
					<span><i class="fa fa-instagram"></i></span>
					
				</div>
				</div>
				
				<div class="col-sm-12 meet-our-white-detail">
					<p style="font-family:'Tahoma';">Since 2008, I’ve worked in the healthcare sector as a 							Licensed Practical Nurse. I understand what it’s like to struggle with food choices 							and to feel hopeless because I didn’t know how to eat differently - as a teenager, I 								struggled with my weight. In my nursing practice, I saw a huge deficit in the 								area of weight management and food information which led me to return to 							school and earn my C.H.N. license from CSNN (Canada School of Natural Nutrition) in 							2010.</p>

<!--<p style="font-family:'Tahoma';">With my years of experience counselling individuals and doing group consultations, I realized the general population had the same sort of problems that still hadn’t been met. These included lack of time to plan for food due to life circumstances, lack of education in reading food labels and knowing what is actually considered healthy food, too many strict dieting programs leading to all or nothing thinking and not keeping the weight off permanently, seasonal holiday stress and lack of motivation around stampede, Christmas, birthdays or events.</p>-->

<p style="font-family:'Tahoma';">Over several years, I counselled individuals and led group consultations. During this time, I realized that many people didn’t have the time to plan for food due to life circumstances, lack of education or misinformation about food labels and healthy food choices. I also saw strict dieting programs leading to all or nothing thinking—diets just do not work to keep weight off permanently.  Special events such as Christmas, birthdays, holidays and even periods of long working hours can sabotage the best of intentions. </p>

<p style="font-family:'Tahoma';"><b>One less thing to worry about on a daily basis</b><br><br>I’m a busy mother of two young boys. Because I have a meal plan in place for my family, that’s one less thing I have to worry about everyday. </p>

				</div>
				
			</div>
		</div>
	</div>
</div>


<div class="yummy-recipes-border col-sm-12"></div>
<div class="customers-saying col-sm-12">
	<div class="container">
		<div class="customers-saying-title">What Customers Are Saying</div>
		<div class="customers-saying-subtitle">Read for yourself some of the dramatic results we have created for our clients.</div>
	</div>
	<div class="container">
		<div class="carousel slide" id="customers-quote-carousel" data-ride="carousel" data-interval="3000">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="item active blog_posts">

					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9"><p class="show-read-more">When having a nutritional assessment done with Bethany, the first thing I noticed was her great
attention to detail. She designed very thorough history forms for all of her clients to fill out. This not only includes questions about eating habits but medical history as well. I feel Bethany’s experience in the nursing profession gives her an advantage over others in the nutrition industry because she possesses strong assessment skills and she is able to anticipate medical issues that may create obstacles for achieving a client’s goals. She is very knowledgeable and passionate about nutrition which is obvious when you sit down and talk with her. I also quite enjoyed the finished product that was given to me after the assessment was complete. This was in the form of a binder detailing the assessment and plan for the future to help achieve my dietary health and nutrition goals.</p></div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Suzanne</div>
							<div class="customers-address">Airdrie, AB</div>
						</div>
		</div>

					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9"><p class="show-read-more">I recently signed up with Bethany at Nutritious & Delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was exercising 3x/week. Bethany determined that I was actually eating too little (shocking) and that key vitamins and minerals were missing from my diet which explained why I was feeling the way I was.</p></div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Kara</div>
							<div class="customers-address">Calgary, AB</div>
						</div>
		</div>

				</div>
				<div class="item blog_posts">
					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9">I would recommend Bethany to anyone who is looking for a customized, thorough and realistic plan to improve their overall level of nutrition through dietary coaching and education.
</div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Suzanne</div>
							<div class="customers-address">Airdrie, AB</div>
						</div>
		</div>

					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9"><p class="show-read-more">Bethany made up a detailed meal plan for me which left nothing out. It was tailored to the exact calories I needed to consume to achieve my goals, and fulfilled the daily vitamin and mineral requirement. She also made up a detailed, easy to follow shopping list. The list was broken down the way you would find the items in the grocery store so there would be no back and forth.  Bethany's list had recommendations for brands of food, but she explained that if you had a favorite brand you can use it as long as you made sure you were keeping in line with the amount of calories and fat in the meal plan.</p></div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Kara</div>
							<div class="customers-address">Calgary, AB
</div>
						</div>
		</div>

				</div>
				<div class="item blog_posts">
					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9"><p class="show-read-more">Thank you Bethany for putting together a great plan for my particular problem.  I was recently diagnosed with celiac disease so eating in and out has become a big challenge for me. Bethany put together a shopping list with things that I liked to eat so nothing was banned (only wheat etc of course) and even made me a shopping list to help me.  She also gave me lots of other useful advice that could maintain my blood sugars and stop me buying fast food, in other words to be prepared instead of finding myself hungry with no snacks on standby etc. She even made up recipes for me to try.  I fully recommend that Bethany do anyone a plan for their lifestyle whatever the problem, mine was a challenging one and she rose to the challenge!  Thank you Bethany.</p>
</div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Jayne</div>
							<div class="customers-address">Dalemead, AB</div>
						</div>
		</div>

					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9">The meal plan and grocery list also correlated to Bethany's recipe guide that was included in her book. The recipes were easy to follow, quick to make and DELICIOUS. Even my husband likes the food. So far, a week following the plan and I feel I have more energy, feel fitter and have a better sense of wellbeing. Highly recommend!</div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Kara</div>
							<div class="customers-address">Calgary, AB</div>
						</div>
		</div>
				</div>
			</div>
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#customers-quote-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#customers-quote-carousel" data-slide-to="1" class=""></li>
				<li data-target="#customers-quote-carousel" data-slide-to="2" class=""></li>
			</ol>	  
		</div>
	</div>
</div>
