<!-- First detail starts -->
<div class="modal fade" id="squarespaceModal1" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body modal_padding_body">
            <!-- content goes here -->
   <p style="font-size: 18px;">Recipe Preparation for: Fried Egg & Feta Sandwich </p>
   <h4>INGREDIENTS:</h4>
   <p>2 each Bread whole wheat -slice</p>
   <p>1 1 wedge (1.33 oz) Cheese. feta</p>
   <p>1 1 large Egg, whole raw, fresh</p>
   <p>1 tea spoon Mustard. MaiIle Multigrain</p>
   <p>1 1 teaspoon Oil, coconut</p>
   <p>0.5 1 cup. sliced Peppers, sweet, red. raw </p>
   <p>0.5 1 teaspoon, ground Spices, oregano, dried</p>
   <p>1 1 dash Spices, pepper, black</p>
   <p>0.5 1 cup Spinach. raw </p>
   <p>0.25 each Tomato</p>
   <h4>DIRECTIONS:</h4>
   <p>Cook egg first on a flat skillet with coconut oil, cook firm or leave egg yolk runny for desired taste. Gently cook the red peppers in the same skillet until soft and tender, Toast bread and top with deli mustard, spinach leaves. and tomatoes. When egg is still hot add to sandwich and put the feta on top to melt, Add grilled red pepper and top with desired black pepper. hot sauce and herbs. 
    </p>
    <p>Makes one serving.</p>
    <p>Nutrition Information per Serving </p>
    <p>Calories: 381</p>
    <p>91 Fat: 19.48g</p>
    <p>Carb 35 44g</p>
    <p>Protein: 18.51g</p>

  </div>
 </div>
  </div>
</div>
<!-- First detail ends -->

<!-- First image starts -->

<div class="modal fade" id="imageModal1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body">
            <img src="images/yummy_big_1.jpg" alt="" class="img-responsive">
  </div>
 </div>
  </div>
</div>

<!-- First image ends -->

<!-- Second detail starts -->
<div class="modal fade" id="squarespaceModal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body modal_padding_body">
            <!-- content goes here -->
   <p style="font-size: 18px;">Recipe Preparation for: Protein Pancakes (GF)</p>
   <h4>INGREDIENTS:</h4>
   <p>1 1/2 cup Cereal. oats. old fashioned, dry</p>
   <p>1 tea spoon Cinnamon </p>
   <p>0.5 cup Cottage Cheese - 1% fat </p>
   <p>0.5 1 cup Egg. white, raw, fresh </p>
   <p>1 cup Fresh blueberries </p>
   <p>1 1 teaspoon Oil, coconut</p>
   <p>2 1 tablespoon Syrups. maple</p>
   <p>1 tea spoon Vanilla extract</p>
   <h4>DIRECTIONS:</h4>
   <p>Mix al ingredients together except berries and maple syrup in a bowl, pour into little pancakes on a hot flat grill that has been basted in coconut oil. Flip once bubbles are forming on the top of the pancakes and turn the temp down to mediufthigh. Make sure you watch them carefully so they do not burn on either side Once cooked add to a plate and top with fresh berries and maple or agave syrup </p>
   <p>*If you are Celiac, please buy gluten free oats in organic isle</p>
   <p>Makes 2 servings. </p>
   <p>Nutrition Information per Serving </p>
   <p>Calories: 272.16</p>
   <p>Fat: 4.53g </p>
   <p>Carb 42 26g</p>
   <p>Protein: 16.81g </p>
  </div>
 </div>
  </div>
</div>
<!-- Second detail ends -->

<!-- Second image starts -->

<div class="modal fade" id="imageModal2" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body">
            <img src="images/yummy_big_2.jpg" alt="" class="img-responsive">
  </div>
 </div>
  </div>
</div>

<!-- Second image ends -->


<!-- Third detail starts -->
<div class="modal fade" id="squarespaceModal3" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body modal_padding_body">
            <!-- content goes here -->
   <p style="font-size: 18px;">Recipe Preparation for: Heaven In A Bar (GF)(DF) </p>
   <h4>INGREDIENTS:</h4>
   <p>0.25 1 cup Honey</p>
   <p>0.5 1 cup Nuts. almond butter, plain, without salt added </p>
   <p>1 1 cup, sliced Nuts. almonds </p>
   <p>0.5 1 cup. shredded Nuts. coconut meat. dried (desiccated). sweetened. shredded</p>
   <p>0.5 1 cup Oil, coconut</p>
   <p>0.5 1 cup (not packed) Raisins. golden seedless </p>
   <p>0.25 1 cup Seeds, flaxseed </p>
   <p>2 tea spoon Vanilla extract </p>
   <p>58 gram(s) (Zazubean) </p>
   <p>70% Chocolate Nutbar (VG)(GF) </p>
   <h4>DIRECTIONS:</h4>
   <p>Place almonds, ground flax, dried fruit, coconut, almond butter in a food processor Pulse briefly to combine.</p>
   <p>In a small saucepan melt coconut oil over low heat, remove then stir in honey and vanilla.</p>
   <p>Add coconut oil mixture to food processor and pulse until it forms a coarse paste Press mixture into a greased 8X8 baking glass dish.</p>
   <p>chill in fridge until mixture is hard and then over low heat in a double broiler melt chocolate peices until runny_ spread over bars and put back in fridge for 30 min_ cut into 15 bars. </p>
   <p>1 bar is a serving</p>
   <p>Makes 15 servings.</p>
   <p>Nutrition Information per Serving </p>
   <p>Calories: 235.14 </p>
   <p>Fat 18 91g </p>
  </div>
 </div>
  </div>
</div>
<!-- Third detail ends -->

<!-- Third image starts -->

<div class="modal fade" id="imageModal3" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body">
            <img src="images/yummy_big_3.jpg" alt="" class="img-responsive">
  </div>
 </div>
  </div>
</div>

<!-- Third image ends -->

<!-- Fourth detail starts -->
<div class="modal fade" id="squarespaceModal4" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body modal_padding_body">
            <!-- content goes here -->
   <p style="font-size: 18px;">Recipe Preparation for: Tropical Kale Storm Smoothie (DF)(GF)(VG) </p>
   <h4>INGREDIENTS:</h4>
   <p>2 cup Almond Breeze, unsweetened vanilla almond milk</p>
   <p>0.5 each Banana • med 8"</p>
   <p>0.5 1 cup, chopped Kale, raw</p>
   <p>3 1 wedge yields Lime juice, raw</p>
   <p>0.5 1 cup pieces Mangos, raw</p>
   <p>2 slice Pineapple fresh. slice approx 3.5" </p>
   <h4>DIRECTIONS:</h4>
   <p>Place almond milk and kale in a blender. mix until smooth. add in fresh pineapple rings. frozen mango and frozen banana. Squeeze in lime wedges for taste, Blend on high until smoothie is creamy. Serve in a frosty mug or over ice. 
    </p>
    <p>Makes one serving </p>
    <p>Nutrition Information per Serving </p>
    <p>Calories: 284.16</p>
    <p>Fat 7 74g </p>
    <p>Garb: 54.70g</p>
    <p>Protein: 5 37g </p>
  </div>
 </div>
  </div>
</div>
<!-- Fourth detail ends -->

<!-- Fourth image starts -->

<div class="modal fade" id="imageModal4" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body">
            <img src="images/yummy_big_4.jpg" alt="" class="img-responsive">
  </div>
 </div>
  </div>
</div>

<!-- Fourth image ends -->

<!-- Fifth detail starts -->
<div class="modal fade" id="squarespaceModal5" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body modal_padding_body">
            <!-- content goes here -->
   <p style="font-size: 18px;">Recipe Preparation for: Crockpot Pork Chili </p>
   <h4>INGREDIENTS:</h4>
   <p>4 4 oz Pork, fresh, ground, raw</p>
   <p>1 cup Kidney beans, cooked or canned</p>
   <p>1 1 cup Beans. baked, canned, with pork and tomato sauce</p>
   <p>1 10 strips Peppers. sweet. yellow, raw </p>
   <p>0.5 each Pepper/Red or Green </p>
   <p>0.5 1 cup chopped Onions, yellow, sauteed</p>
   <p>1 1 tablespoon Spices, chili powder </p>
   <p>1 1 dash Spices, pepper, black </p>
   <p>1 1 teaspoon, ground Spices, basil, dried </p>
   <p>0.5 tea spoon Franks hot sauce </p>
   <p>1 1 cup Tomatoes, red, ripe, canned. stewed </p>
   <h4>DIRECTIONS:</h4>
   <p>In a hot skillet cook pork until browned and tender.</p>
   <p> In a large crockpot add all ingredients and place on low to cook for 4.5 hours approx. make sure kidne beans are rinsed in cold water before adding them to the chili to drain off excess salt.</p>
   <p> Serve hot </p>
   <p>Makes 6 servings. </p>
   <p>Nutrition Information per Serving </p>
   <p>Calories: 307.31 </p>
   <p>Fat: 17.63g </p>
   <p>Carb 20.46g </p>
   <p>Protein: 18.35g</p>
  </div>
 </div>
  </div>
</div>
<!-- Fifth detail ends -->

<!-- Fifth image starts -->

<div class="modal fade" id="imageModal5" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body">
            <img src="images/yummy_big_5.jpg" alt="" class="img-responsive">
  </div>
 </div>
  </div>
</div>

<!-- Fifth image ends -->

<!-- Sixth detail starts -->
<div class="modal fade" id="squarespaceModal6" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body modal_padding_body">
            <!-- content goes here -->
   <p style="font-size: 18px;">Recipe Preparation for: Swiss Turkey Burgers</p>
   <h4>INGREDIENTS:</h4>
   <p>1 tea spoon Franks hot sauce</p>
   <p>1 tea spoon Ground black pepper </p>
   <p>16 ounce(s) Lean ground turkey, raw </p>
   <p>3 tea spoon Mustard </p>
   <p>1 1 teaspoon Oil, coconut </p>
   <p>1 1 dash Salt, table</p>
   <p>1 1 teaspoon, ground Spices, oregano, dried </p>
   <p>1 1 tablespoon Spices, parsley, dried</p>
   <p>1 medium Zucchini - baby, raw </p>
   <p>4 1 slice (1 oz) Cheese. swiss</p>
   <h4>DIRECTIONS:</h4>
   <p>In a large glass bowl mix ground turkey. grated zucchini. mustard and spices together. (the hot sauce is optional) Use a half cup measure that is round in shape and add a little mixture into it to form burger patties. Should make about 4-6</p>
   <p>Coat a flat pan for the stovetop or a grooved grill thoroughly with coconut oil and heat med.high to sea the outside of the burgers for a few minutes for the brown colour.
</p>
   <p> Turn it down to medium and let the burgers cook on both sides evenly. try not to flip the burgers more than once as they may break. </p>
   <p>Once cooked and the middle is no longer pink, place cheese slices on top of the burger and let them melt while cooking for the last few minutes_ Add optional hot sauce to top of burger for more kick. 
</p>
   <p>Remove and eat with homemade yam or sweet potato fries</p>
   <p>Makes 4 servings.</p>
   <p>Nutrition Information per Serving </p>
   <p></p>
  </div>
 </div>
  </div>
</div>
<!-- Sixth detail ends -->

<!-- Sixth image starts -->

<div class="modal fade" id="imageModal6" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body">
            <img src="images/yummy_big_6.jpg" alt="" class="img-responsive">
  </div>
 </div>
  </div>
</div>

<!-- Sixth image ends -->

<!-- Seventh detail starts -->
<div class="modal fade" id="squarespaceModal7" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body modal_padding_body">
            <!-- content goes here -->
   <p style="font-size: 18px;">Recipe Preparation for: Baked Candied Salmon(GF)(DF)</p>
   <h4>INGREDIENTS:</h4>
   <p>0.5 5 sprigs Dill weed, fresh</p>
   <p>6 3 oz Fish, salmon. Atlantic, wild, cooked. dry heat</p>
   <p>2 each Garlic clove </p>
   <p>1 1 tablespoon Parsley, fresh</p>
   <p>1 1 dash Salt. table </p>
   <p>1 1 teaspoon Spices, pepper, black</p>
   <p>0.5 1 cup Syrups. maple </p>
   <h4>DIRECTIONS:</h4>
   <p>Line a large baking sheet with tin foil, lay fish flat on top. Preheat oven to 400F </p>
    <p>In a glass measuring bowl mix together al of the marinade ingredients. Pour over the fish slowly makinc sure to coat al over evenly, Bake in over for 15-20 minutes until fish is nice and flaky but still most in th middle. </p>
    <p>Makes 6 servings. </p>
    <p>Nutrition Information per Serving </p>
    <p>Calories: 225.59 </p>
    <p>Fat: 6.95g </p>
    <p>Carb 18.20g </p>
    <p>Protein: 21.76g </p>
  </div>
 </div>
  </div>
</div>
<!-- Seventh detail ends -->

<!-- Seventh image starts -->

<div class="modal fade" id="imageModal7" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body">
            <img src="images/yummy_big_7.jpg" alt="" class="img-responsive">
  </div>
 </div>
  </div>
</div>

<!-- Seventh image ends -->

<!-- Eigth detail starts -->
<div class="modal fade" id="squarespaceModal8" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body modal_padding_body">
            <!-- content goes here -->
   <p style="font-size: 18px;">Recipe Preparation for: Berry Hot Cereal (GF)(DF)(VG) </p>
   <h4>INGREDIENTS:</h4>
   <p>2 cup Almond Breeze, unsweetened vanilla almond milk</p>
   <p>0.5 1/2 cup Cereal, oats. old fashioned, dry</p>
   <p>1 cup Fresh blueberries </p>
   <p>0.5 1 cup Quinoa. uncooked </p>
   <p>2 1 teaspoon, ground Seeds, flaxseed</p>
   <p>0.5 1 tablespoon Syrups, maple</p>
   <p>12 fluid ounce(s) Water </p>
   <h4>DIRECTIONS:</h4>
   <p>place water and quinoa in a saucepan and bring to a boil. cover and let cook slowly Reduce temp to simmer and let cook until quinoa is tender. Stir in oats and continue to cook for another 5 min. Remove from the heat and gently stir in maple syrup and flax seed, fold in blueberries gently and top the hot cereal with almond milk. </p>
   <p>Note: If you are Celiac, please make sure to buy Gluten free oats from the organic section</p>
   <p>Makes 2 servings</p>
   <p>Nutrition Information per Serving </p>
   <p>Calories: 298.91 </p>
   <p>Fat 7 42g </p>
   <p>Garb: 50.45g</p>
   <p>Protein 915g </p>
  </div>
 </div>
  </div>
</div>
<!-- Eigth detail ends -->

<!-- Eigth image starts -->

<div class="modal fade" id="imageModal8" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body">
            <img src="images/yummy_big_8.jpg" alt="" class="img-responsive">
  </div>
 </div>
  </div>
</div>

<!-- Eigth image ends -->


<script type="text/javascript">
  
function yummy_images(){
 $('div.description').each(function(){
  $(this).css('opacity', 0);
  $(this).css('width', $(this).siblings('img').width());
  $(this).parent('.description').css('width', $(this).siblings('img').width());
  $(this).css('display', 'block');
 });
 
$('div.yummy-recipes-slidBox').hover(function(){
  $(this).children('.description').stop().fadeTo(500, 0.7);
 },function(){
  $(this).children('.description').stop().fadeTo(500, 0);
 });
};

$(window).load(function(){
 yummy_images();
});

$(window).resize(function(){
 yummy_images();
});

$( ".show_img" ).click(function() {
  // alert("jhgjg");
  var modalname = $(this).data("type");
  // alert(modalname);
  $("#"+modalname).modal('show');
  // alert("b")
});

$( ".show_detail" ).click(function() {
  // alert("a")
  var modalname = $(this).data("type");
  $("#"+modalname).modal('show');
  // alert("b")
});

</script>
